[Desktop Entry]
Type=Application
Name=lsuite
GenericName=App launcher
Comment=Install and update the lsuite apps and their plugins
Exec=lsuite
Icon=lsuite
Terminal=false
Categories=Utility;
Keywords=lsuite;launcher;plugins;ryolune;kimchi;nori;folio;
StartupWMClass=xyz.lsuite.launcher
